@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 16px;
	color: hsla(0, 0%, 100%, 0.75);
	background-color: hsl(0, 0%, 95%);
	line-height: 1.5;
}

main {
	display: grid;
    place-items: center;
    grid-column-gap: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
	width: 80%;
}

h2 {
	font-size: 40px;
	font-family: 'Big Shoulders Display', cursive;
	text-transform: uppercase;
}

img {
	width: 4em;
}

.square {
	padding: 40px;
	margin: 0;
	display: inline-grid;
	grid-template-rows: 50px 50px 100% 50px;
	grid-row-gap: 20px;
}

.sedans {
	background-color: hsl(31, 77%, 52%);
	border-radius: 5px 5px 0 0;
}

.suvs {
	background-color: hsl(184, 100%, 22%);
}

.luxury {
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 0 5px 5px;
}

button {
	font-family: 'Lexend Deca', sans-serif;
	background-color: hsl(0, 0%, 95%);
	border-radius: 50px;
	text-align: center;
	border: solid;
	width: 70%;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 50px;
	transition: .3s;
	align-content: end;
}

.sedans button {
	color: hsl(31, 77%, 52%);
}

.suvs button {
	color: hsl(184, 100%, 22%);
}

.luxury button {
	color: hsl(179, 100%, 13%);
}

.sedans button:hover, .sedans button:active {
	background-color: hsl(31, 77%, 52%);
}

.suvs button:hover, .suvs button:active {
	background-color: hsl(184, 100%, 22%);
}

.luxury button:hover, .luxury button:active {
	background-color: hsl(179, 100%, 13%);
}

button:hover, button:active {
	color: hsl(0, 0%, 95%);
	cursor: pointer;
	border-color: hsl(0, 0%, 95%);
}

@media (min-width: 768px) {

main {
    height: 100vh;
    margin: auto;
}

.container {
	display: flex;
	width: 90%;
}

p {
	grid-row: 3/5;
}

.square {
	grid-template-rows: 50px 50px 100px 100px 50px;
}

.sedans {
	border-radius: 5px 0 0 5px;
}

.luxury {
	border-radius: 0 5px 5px 0;
}

}

@media (min-width: 1024px) {

.container {
	width: 60%;
}

.square {
	grid-template-rows: 50px 50px 110px 110px 50px;
}

}

@media (min-width: 1280px) {

.square {
	grid-template-rows: 50px 50px 80px 80px 50px;

}

}